.font1vw{
	 font-size: 1vw;
}
.font2vw{
	 font-size: 2vw;
}
.font3vw{
	 font-size: 3.5vw;
}
.font4vw{
	 font-size: 4vw;
}
.font5vw{
	 font-size: 5vw;
}

.font10{
	font-size:10px;
}
.font15{
	font-size:15px;
}
.font20{
	font-size:20px;
}
.font25{
	font-size:25px;
}
.font30{
	font-size:30px;
}
.font35{
	font-size:35px;
}
.font40{
	font-size:40px;
}
.font45{
	font-size:45px;
}
.font50{
	font-size:50px;
}
.font55{
	font-size:55px;
}
.font60{
	font-size:60px;
}
.font65{
	font-size:65px;
}
.font70{
	font-size:70px;
}
.font75{
	font-size:75px;
}
.font80{
	font-size:80px;
}
.font85{
	font-size:85px;
}
.font90{
	font-size:90px;
}
.font95{
	font-size:95px;
}
.font100{
	font-size:100px;
}