.letterSpc5{
	letter-spacing:5px;
}
.letterSpc10{
	letter-spacing:10px;
}
.letterSpc15{
	letter-spacing:15px;
}
.letterSpc20{
	letter-spacing:20px;
}
.letterSpc25{
	letter-spacing:25px;
}
.letterSpc30{
	letter-spacing:30px;
}
.letterSpc35{
	letter-spacing:35px;
}
.letterSpc40{
	letter-spacing:40px;
}
.letterSpc45{
	letter-spacing:45px;
}
.letterSpc50{
	letter-spacing:50px;
}
.letterSpc55{
	letter-spacing:55px;
}
.letterSpc60{
	letter-spacing:60px;
}
.letterSpc65{
	letter-spacing:65px;
}
.letterSpc70{
	letter-spacing:70px;
}
.letterSpc75{
	letter-spacing:75px;
}
.letterSpc80{
	letter-spacing:80px;
}
.letterSpc85{
	letter-spacing:85px;
}
.letterSpc90{
	letter-spacing:90px;
}
.letterSpc95{
	letter-spacing:95px;
}