.albumCover{
	width: 70%;
	height: 700px;
	position: absolute;
	top: 0px;
	left: 250px;
	text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
	background-image: linear-gradient(to bottom, #5B5B5B, #171717, #171717, #171717, #171717);
}

.albumCoverImageDiv{
	width: 25%;
	height: 35%;
	position: absolute;
	top: 10px;
	left: 10px;
}

.albumCoverImage{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.25), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("images/icarus falls_zayn.jpg");
}

.textOnAlbumImage{
	position: absolute;
	top: 20px;
	left: 270px;
	font-family: calibri;
	color: #E1E2E1;
}

.buttonsDiv{
	position: absolute;
	width: 220px;
	height: 50px;
}

.myButton {
    background-color:#ff5bb0;
    border-radius:28px;
    border:1px solid #ee1eb5;
    width: 40px;
    position: absolute;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 4px;
    text-align: center;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
    background-color: #323232;
}
.myButton:active {
    position:absolute;
    top: 1px;
 }

 .header{
 	width: 98%;
 	height: 7%;
 	position: absolute;
 	top: 250px;
 	margin-left: 10px;
 }

 .songDiv{
 	width: 98%;
 	height: 6%;
 	position: absolute;
 	margin-left: 10px;
 	border-top-color: #484848;
 	border-top-style: solid;
 	border-top-width: 1px;
 }

 .songDiv:hover {
    background-color: black;
 }

 .srNo{
    position: absolute;
    width: 3%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    padding-left: 11px;
}

.heartDiv{
    position: absolute;
    width: 8%;
    height: 100%;
    left: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 110px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.optionDropDown{
    position: absolute;
    width: 8%;
    height: 100%;
    left: 673px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    position: absolute;
    width: 10%;
    height: 100%; 
    left: 750px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.rating{
    position: absolute;
    width: 9%;
    height: 100%;
    left: 846px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontTheme{
    font-size: 20px;
    font-family: calibri;
    color: #BDBDBD;
}



